.contact-banner{background: url('../images/contact-us.jpg'); background-size: cover; background-position: center; display: flex; flex-direction: column; padding: 64px 15px 64px 15px; align-items: center;}
.contact-banner h3, p{color: #fff;}
.contact-text p{color: #000; padding-top: 30px;}
.contact-form{background: url('../images/contact-us-form.jpg'); background-repeat: no-repeat; display: flex; flex-direction: column; float: left; background-size: cover; padding-bottom: 100px; margin-bottom: 30px; margin-left: 7px;}
.contact-form h6:first-of-type{color: #fff; padding-top: 150px; margin-left: 80px;}
.contact-form p:first-of-type{color: #fff; width: 60%; margin-left: 80px;}
.contact-form h6:nth-of-type(2), :nth-of-type(3){color: #fff; margin-left: 80px; padding-top: 20px;}
.contact-form p:nth-of-type(2), :nth-of-type(3){color: #fff; margin-left: 80px;}